<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/style.css') }}">
</head>
<body>
    <header>
        <h1>Вхід</h1>
    </header>



    <main>
        
         <form class="register-form" action="/check_users" method="post">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <label>Email:</label>
            <input  type="text" name="Email" required>
            <label>Пароль:</label>
            <input  type="password" name="Pass" required>
            <button  type="submit">Увійти</button>
            
        </form>

        <form class="register-form" action="/register">
        <button  type="submit">Зареєструватись</button>
        </form>
    </main>

    <footer>
        <p>© 2024 Віртуальні Квести</p>
    </footer>
    <script src="{{ url_for('static', filename = 'Js/register.js')}}"></script>
</body>
</html>