<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'Css/stylePred.css')}}">
    <title>Document</title>
</head>
<body>
    <main>
        <p>Інформація про квест:</p>
        <p>Назва:</p>
        <p>Опис:</p>
        <p>Кількість завдань:</p>
        <p>Часові обмеження:</p>
        <p>Автор:</p>
        <button id="BtnStart">Продовжити</button>
    </main>
    <script src="{{url_for('static', filename = 'Js/predStart.js')}}"></script>
</body>
</html>