<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/style.css') }}">
</head>
<body>
    <header>
        <h1>Реєстрація</h1>
    </header>
    
    <main>
        
        <form class="register-form" action="/submit" method="post">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <label>Username</label>
            <input id="InputUserName" type="text" name="UserName" required>
            <label>Email:</label>
            <input id="InputEmail" type="text" name="Email" required>
            <label>Пароль:</label>
            <input id="InputPassword" type="password" name="Pass" required>
            <button id="SignUp" type="submit">Зареєструватись</button>
        </form>
        
    </main>

    <footer>
        <p>© 2024 Віртуальні Квести</p>
    </footer>
    <script src="{{ url_for('static', filename='Js/register.js') }}"></script>
</body>
</html>
